<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.2.0" targetFramework="net472" />
  <package id="CsvHelper" version="15.0.3" targetFramework="net472" />
  <package id="DynamicData" version="6.13.14" targetFramework="net472" />
  <package id="Microsoft.AppCenter" version="3.4.0" targetFramework="net472" />
  <package id="Microsoft.AppCenter.Crashes" version="3.4.0" targetFramework="net472" />
  <package id="Microsoft.AppCenter.Distribute" version="3.4.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="PolyhydraGames.Core.Interfaces" version="1.0.0.4" targetFramework="net472" />
  <package id="PolyhydraGames.Core.SQLite" version="2.0.0.17" targetFramework="net472" />
  <package id="PolyhydraGames.Extensions" version="2.1.0.5" targetFramework="net472" />
  <package id="ReactiveUI" version="10.4.1" targetFramework="net472" />
  <package id="ReactiveUI.WPF" version="10.4.1" targetFramework="net472" />
  <package id="Splat" version="9.3.11" targetFramework="net472" />
  <package id="Splat.Drawing" version="9.1.1" targetFramework="net472" />
  <package id="sqlite-net-pcl" version="1.7.335" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.3" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.0.3" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.3" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.13" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.13" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.3" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.13" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.SfChart.WPF" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core.WPF" version="18.2.0.48" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfChart" version="18.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfChart.WPF" version="18.2.0.44" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.1.6" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.5.0.495" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.5.0.495" targetFramework="net472" />
</packages>